<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.cameronvwilliams.raise"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".RaiseApplicationDebug"
        android:allowBackup="false"
        android:label="@string/app_name"
        tools:replace="android:label, android:name, android:allowBackup" >
        <meta-data android:name="net.hockeyapp.android.appIdentifier" android:value="${HOCKEYAPP_APP_ID}" />

        <activity
            android:name=".ui.intro.IntroActivityDebug"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Intro.AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.intro.IntroActivity" tools:node="remove"/>

    </application>

</manifest>