<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.cameronvwilliams.raise"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".RaiseApplicationDebug"
        android:allowBackup="false"
        android:label="@string/app_name"
        tools:replace="android:label, android:name, android:allowBackup"
        tools:ignore="GoogleAppIndexingWarning">

    </application>

</manifest>